*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none; /*can't highlisht text*/
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
  /* width: 100%;
  height: 200px; */
}

.score {
  position: absolute;
  font-size: 3vmin; /*vmin is vh or vw depending on the viewport which is smaller/minimum*/
  right: 1vmin;
  top: 1vmin;
  margin-right: 2px;
  padding: 2px;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  /* --left: 0; */
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
